<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Historial de pedidos</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="openMap()">
          <ion-icon slot="icon-only" name="map-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment #segment scrollable="true" value="todos" (ionChange)="filtrarporestado($event)">
          <ion-segment-button value="todos">
            <ion-label>Todos</ion-label>
          </ion-segment-button>
          <ion-segment-button value="pendiente">
            <ion-label>Pendientes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="confirmado">
            <ion-label>confirmados</ion-label>
          </ion-segment-button>
          <ion-segment-button value="rechazado">
            <ion-label>Rechazados</ion-label>
          </ion-segment-button>
          <ion-segment-button value="entregado">
            <ion-label>Entregados</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label color="dark">
            <h1 *ngIf="fecha_entrega==''">Todas las fechas</h1>
            <h1 *ngIf="fecha_entrega!=''">pedidos de la fecha {{fecha_entrega}}</h1>
          </ion-label>
          <ion-button slot="end" color="primary" fill="clear" (click)="filtro()">
            <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6"
        *ngFor="let pedido of pedidos | filterPedido:estado_pedido:fecha_entrega">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="secondary">
              <ion-item>
                <ion-checkbox #checkeados *ngIf="estado_pedido=='pendiente'" justify="space-between" aria-label=" "
                  [value]="pedido.id_pedido" (ionChange)="addpedidoSeleccionado($event)">
                  {{pedido.colegio}}</ion-checkbox>
                <ion-label *ngIf="estado_pedido!='pendiente'">{{pedido.colegio}}</ion-label>
              </ion-item>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-chip
                [color]="pedido.estado==='pendiente'?'warning':pedido.estado=='confirmado'?'success':pedido.estado=='rechazado'?'danger':'primary'"
                outline="false">{{pedido.estado}}</ion-chip>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content (click)="detalle_pedido(pedido.id_pedido)">
            <!-- <ion-item>
              <ion-label>{{pedido.id_pedido}}</ion-label>
            </ion-item> -->
            <ion-item lines="none">
              <ion-icon name="time-outline" slot="start"></ion-icon>
              <ion-label>
                <p>{{pedido.fecha_entrega | date:'YYYY-MM-dd'}} de {{pedido.hora_inicio | slice:0:5}} a
                  {{pedido.hora_fin | slice:0:5}}</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="cart-outline" slot="start"></ion-icon>
              <ion-label>
                <p>
                  {{pedido.producto}}
                </p>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="pin-outline" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">
                <p>
                  {{pedido.zona_colegio}}, {{pedido.calle_colegio}}
                </p>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="CambiarEstadoPedido()" shape="round" *ngIf="pedidos_seleccionados.length>0"
      class="">
      Seleccionados {{pedidos_seleccionados.length}}
    </ion-button>
  </ion-toolbar>
</ion-footer>