<app-header-subpage [href]="'/dashboard/proveedores'"></app-header-subpage>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" *ngIf="proveedor">
          <ion-thumbnail slot="start" class="avatar">
            <img [src]="proveedor.imagen" />
          </ion-thumbnail>
          <ion-label>
            <h1>{{proveedor.razon_social}}</h1>
            <p>{{proveedor.celular}}</p>
          </ion-label>
        </ion-item>
        <ion-searchbar (ionInput)="buscar($event)" placeholder="Busca tu producto" [debounce]="300"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <ion-label class="subtitulo">Menu de productos</ion-label>
          </ion-list-header>
        </ion-list>
        <ion-row *ngIf="productos.length>0">
          <ion-col size="6" *ngFor="let producto of productos | filter:texto:'nombre'">
            <img (click)="detalle(producto.id_producto)" [src]="producto.imagen" class="img-producto" alt="no se encontro la imagen">
            <ion-item>
              <ion-label class="ion-text-wrap">{{producto.nombre}} </ion-label>
              <ion-badge slot="end" mode="md">{{producto.precio_unitario}}Bs</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="productos.length<=0">
          <ion-col size="12" class="ion-text-center">
            <h2>No cuenta con Productos</h2>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>