.imagen-producto{
    width: 200px; 
    height: 200px;
    margin: 0 auto;
    border: 5px solid rgb(255, 247, 244);
    padding: 5px;
}

.content-precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto-producto{
    text-align: justify;
    padding:0 10px;
}

.btn-ordenar{
    --box-shadow:none;
}
.text-subtitle{
    font-size: 20px; 
    font-weight: 600;
}
.content-detalle-producto{
    width: 90%;
    margin: 0 auto;
}
.content-detalle-producto > table{
    // border: 2px solid red; 
    padding: 10px;
    width: 100%;
    color: var(--ion-color-secondary);
}
.content-detalle-producto > table>tr{
   height: 30px;
}