<app-header-subpage></app-header-subpage>
<ion-content *ngIf="producto">
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-thumbnail class="imagen-producto">
          <ion-img [src]="producto.imagen"></ion-img>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="secondary">
          <h1 class="texto-nombre">{{producto.nombre}}</h1>
        </ion-text>
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="img-proveedor">
            <img [src]="producto.imagen_proveedor" />
          </ion-thumbnail>
          <ion-label>{{producto.proveedor}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{producto.precio_unitario}} Bs</ion-label>
          <ion-badge slot="end">{{producto.categoria}}</ion-badge>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-text color="secondary">
          <span class="text-subtitle">Descripcion</span>
        </ion-text>
        <ion-text color="secondary">
          <p class="texto-producto">{{producto.descripcion}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text color="secondary">
          <span class="text-subtitle">Detalle</span>
        </ion-text>
        <ion-item>
          <ion-label>Medida</ion-label>
          <ion-label slot="end">{{producto.medida}} {{producto.unidad_medida}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-label slot="end">{{producto.tipo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Categoria</ion-label>
          <ion-badge slot="end">{{producto.categoria}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-badge [color]="producto.estado=='activo'?'success':'danger'" slot="end" mode="md">{{producto.estado}}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button expand="full" class="btn-ordenar" (click)="ordenar(producto.id_producto)">
      Ordenar Producto
    </ion-button>
  </ion-toolbar>
</ion-footer>