.titulo{
    font-weight: 700; 
    font-size: 30px;
}
ion-searchbar {
    --background: var(--ion-color-light);
    --box-shadow: none;
    --border-radius: 8px;
}

.btn-catalogo{
    --box-shadow:none;
    --border-radius:100px;
}