.titulo{
    font-weight: 700; 
    font-size: 30px;
}
ion-searchbar {
    --background: var(--ion-color-light);
    --box-shadow: none;
    --border-radius: 8px;
}

.btn-catalogo{
    --box-shadow:none;
    --border-radius:100px;
}
.imagen-pro{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}