<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="secondary">
          <span class="titulo">Explora Nuestra Red de Proveedores de Confianza</span>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar placeholder="Buscar proveedor" type="text" (ionInput)="buscar($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <ion-label>Favoritos</ion-label>
          </ion-list-header>
        </ion-list>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <swiper-container pagination="false" [slidesPerView]="1.5">
              <swiper-slide *ngFor="let item of proveedores">
                <ion-card (click)="opencatalogo('123')">
                  <ion-card-header>
                    <ion-card-subtitle>nombre de proveedor</ion-card-subtitle>
                    <ion-icon color="warning" style="font-size: 50px; margin:0 auto;" name="star-outline"></ion-icon>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-button>
                      ver catalogo
                    </ion-button>
                  </ion-card-content>
                </ion-card>
              </swiper-slide>
            </swiper-container>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <ion-label>Proveedores</ion-label>
          </ion-list-header>
        </ion-list>
        <ion-row>
          <ion-col size="12" *ngFor="let proveedor of proveedores | filter:texto:'razon_social'">
            <ion-card mode="md">
              <ion-card-header class="ion-text-center">
                <ion-thumbnail class="imagen-pro">
                  <img [src]="proveedor.imagen" />
                </ion-thumbnail>
                <ion-card-subtitle>
                  <p>{{proveedor.razon_social}}</p>
                  <ion-chip color="success" mode="md" outline="false" (click)="llamarproveedor(proveedor.celular)">
                    <ion-label>{{proveedor.celular}}</ion-label>
                  </ion-chip>
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-button expand="full" class="btn-catalogo" (click)="openperfilproveedor(proveedor.id_proveedor)">
                  ver Proveedor
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>