<app-header-subpage></app-header-subpage>
<ion-content *ngIf="pedido">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-thumbnail slot="start"  class="avatar">
            <img [src]="pedido.imagen_producto" />
          </ion-thumbnail>
          <ion-label>
            <h3>{{pedido.producto}}</h3>
          </ion-label>
          <ion-badge [color]="
          pedido.estado_pedido=='pendiente'?'warning':
          pedido.estado_pedido=='confirmado'?'success':
          pedido.estado_pedido=='rechazado'?'danger':
          pedido.estado_pedido=='entregado'?'primary':'secondary'
          " mode="ios">{{pedido.estado_pedido}}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Informacion General</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-icon name="shield-half-outline" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">
                <h3>Colegio</h3>
                <p>{{pedido.colegio}}</p>
              </ion-label>
              <ion-chip slot="end" color="success" mode="md" outline="false">
                <ion-icon slot="start" name="call-outline"></ion-icon>
                <ion-label>Llamar</ion-label>
              </ion-chip>
             </ion-item>
             <ion-item>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">
                <h3>Proveedor</h3>
                <p>{{pedido.proveedor}}</p>
              </ion-label>
             </ion-item>
            <ion-item>
              <ion-icon name="fast-food-outline" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">
                <h3>Producto</h3>
                <p>{{pedido.producto}}</p>
              </ion-label>
             </ion-item>
           <ion-item>
            <ion-icon name="flag-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Cantidad</h3>
              <p>{{pedido.cantidad}} Unidades</p>
            </ion-label>
           </ion-item>
           <ion-item>
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Precio Unitario</h3>
              <p>{{pedido.precio_unitario}} Bs</p>
            </ion-label>
           </ion-item>
           <ion-item>
            <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Fecha de entrega</h3>
              <p>{{pedido.fecha_entrega | date:'YYYY-MM-dd'}}</p>
            </ion-label>
           </ion-item>
           <ion-item>
            <ion-icon name="alarm-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Horario de entrega</h3>
              <p>de {{pedido.hora_inicio | slice:0:5}} a {{pedido.hora_fin | slice:0:5}}</p>
            </ion-label>
           </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Ubicacion</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           <ion-item>
            <ion-icon name="pin-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
                <h3>Ubicacion</h3>
                <p>{{pedido.zona_colegio}}, {{pedido.calle_colegio}}</p>
            </ion-label>
           </ion-item>
           <ion-button expand="block" fill="clear" (click)="abrir_mapa(pedido.longitud,pedido.latitud)" >
            Abrir ubicacion en el mapa
           </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="pedido">
  <ion-toolbar color="primary" *ngIf="pedido.estado_pedido=='confirmado'">
    <ion-button expand="block" class="btn-entregar" (click)="alerta(pedido.id_pedido)">
      Entregar pedido
    </ion-button>
  </ion-toolbar>
</ion-footer>