<app-header titulo="Productos"></app-header>
<ion-content [fullscreen]="true">
  <ion-segment value="todos">
    <ion-segment-button value="todos">
        <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="activos">
        <ion-label>Activos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="inactivos">
        <ion-label>Inactivos</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid fixed>
    <ion-row>
        <ion-col size="12">
            <ion-item *ngFor="let producto of [1,1,1,1,1]" detail (click)="detalle_producto('123')">
                <ion-avatar slot="start">
                    <img [src]="'./assets/img/producto1.jpg'" />
                </ion-avatar>
                <ion-label class="ion-text-wrap">
                    <h3>Nombre del producto</h3>
                    <p>2 Bs</p>
                </ion-label>
                <!-- <ion-badge slot="end" color="success" mode="ios">Activo</ion-badge> -->
            </ion-item>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>