<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-margin-top" >
        <ion-text color="primary">
          <b>Plataforma de</b>
        </ion-text>
        <ion-text color="medium">
          <b> Pedidos</b>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="dark" class="ion-text-center">
          <h1 class="margin-top-text">Bienvenido, inicia sesion</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row  class="ion-justify-content-center">
      <ion-col size="11">
        <form [formGroup]="formlogin" (submit)="login()">
          <ion-input type="text" placeholder="ingresa tu usuario" formControlName="usuario"></ion-input>
          <ion-input type="text" placeholder="Contraseña" type="password" formControlName="pass"></ion-input>
          <ion-button expand="block" type="submit" [disabled]="formlogin.invalid">
            iniciar sesion
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>