<app-header-subpage></app-header-subpage>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngIf="producto">
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="img-producto">
            <img [src]="producto.imagen" />
          </ion-thumbnail>
          <ion-label color="secondary" class="ion-text-wrap">
            <h1>{{producto.nombre}}</h1>
            <p>{{producto.categoria}}</p>
          </ion-label>
          <ion-badge slot="end" color="primary" mode="ios">{{producto.precio_unitario}} Bs</ion-badge>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-text color="secondary">
          <span class="texto-subtitulo">Fecha de entrega</span>
        </ion-text>
        <ion-datetime (ionChange)="setfechas($event)" [min]="fecha_actual" presentation="date" locale="es-ES" size="cover" [multiple]="true">
          
        </ion-datetime>
      </ion-col>
      <ion-col size="12">
        <ion-text color="secondary">
          <span class="texto-subtitulo">Hora estimada para la entrega de pedidos</span>
        </ion-text>
        <!-- <ion-datetime presentation="time" locale="es-ES" size="cover"></ion-datetime>
         -->
         <div class="content-hora">
           <span>De</span> <ion-datetime-button datetime="hora-before" ></ion-datetime-button> Hasta <ion-datetime-button datetime="hora-after" ></ion-datetime-button>
         </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button expand="full" class="btn-ordenar" (click)="alerta()">
      Confirmar Pedido
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime (ionChange)="sethorainicio($event)" display-format="HH:mm" id="hora-before" mode="md" done-text="Ok" presentation="time" [hourValues]="horasPermitidas" minute-values="0,15,30,45" ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime (ionChange)="sethorafin($event)" id="hora-after" mode="ios" presentation="time" [hourValues]="horasPermitidas" minute-values="0,15,30,45" ></ion-datetime>
  </ng-template>
</ion-modal>